In [4]:
import pandas as pd

df = pd.read_csv('dataset_file_storage.csv', sep=';', usecols=['CompanyID', 'FileSize', 'ProjectID'])
df

      ProjectID  CompanyID  FileSize
0        753919     753918    732686
1        726628     726615   2484373
2        705607     703124        22
3        705605     703124         4
4        705605     703124   1030735
...         ...        ...       ...
1847     753919     753918     51551
1848     749900     749892    106970
1849     755110     755109    112834
1850     741922     741921    138990
1851     755110     755109   1072520

[1852 rows x 3 columns]

In [12]:
mean_file_size = df.groupby('ProjectID')[['FileSize']].sum().mean()
mean_file_size

FileSize    4.599767e+08
dtype: float64

In [21]:
grouped_company = df.groupby(['CompanyID', 'ProjectID'], as_index=False).sum()
grouped_company

    CompanyID  ProjectID    FileSize
0      703124     705605  3950576179
1      703124     705606   101217813
2      703124     705607  1453545094
3      719936     720089     1185673
4      719936     721640   526480987
5      721180     721181    16036453
6      721180     724807   514145796
7      721180     730163  1566905593
8      721180     732966    49555199
9      721180     741822  1524721856
10     721180     750864   494872093
11     721639     721640     1452010
12     722863     722864   798388183
13     722863     722865   524723720
14     723317     723321  1048173650
15     723317     736459    13009509
16     723317     736460     6388197
17     723317     736461    12115936
18     723317     736462     8930650
19     724043     724044   466545893
20     724067     724068   108392045
21     724937     724938  1581185110
22     724937     724939   518593228
23     724937     724940   986266922
24     726615     726619  1012192132
25     726615     726622    12029601
26     726615     726623  1032759715
27     726615     726628    25498526
28     726615     754225   147064526
29     726766     726767   167786914
30     726779     726780   125474822
31     727590     727591   395662429
32     727604     727605    10274732
33     728333     728336   597374336
34     728355     728356    19184127
35     729306     729307   508974825
36     729353     730174    89744288
37     729353     730175    37829007
38     730505     730506    25930225
39     733113     733114   186745352
40     733113     733115     9140468
41     733971     733972   132081981
42     736662     736663  1569514179
43     736979     736980    21938637
44     738553     738554  1264143584
45     741921     741922   764662481
46     744106     744107    16071265
47     745432     745433    67849523
48     746114     746115    41116794
49     746662     746664   135668170
50     747291     747292     4731344
51     747716     747717      631842
52     748559     748560   637225512
53     749892     749900   104538590
54     753296     753297    11123251
55     753918     753919   172475221
56     755109     755110   137846341

In [22]:
grouped_company['FileSize'] > mean_file_size.iloc[0]

0      True
1     False
2      True
3     False
4      True
5     False
6      True
7      True
8     False
9      True
10     True
11    False
12     True
13     True
14     True
15    False
16    False
17    False
18    False
19     True
20    False
21     True
22     True
23     True
24     True
25    False
26     True
27    False
28    False
29    False
30    False
31    False
32    False
33     True
34    False
35     True
36    False
37    False
38    False
39    False
40    False
41    False
42     True
43    False
44     True
45     True
46    False
47    False
48    False
49    False
50    False
51    False
52     True
53    False
54    False
55    False
56    False
Name: FileSize, dtype: bool

In [28]:
len(grouped_company[grouped_company['FileSize'] > mean_file_size.iloc[0]]['CompanyID'].unique())

14