In [1]:
import pandas as pd

df = pd.read_csv('StudentsPerformance.csv')
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [6]:
# df.groupby('race/ethnicity')[['math score', 'reading score', 'writing score']].agg('mean', axis='columns')
df['mean score'] = df[['math score', 'reading score', 'writing score']].agg('mean', axis='columns')

In [7]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,mean score
0,female,group B,bachelor's degree,standard,none,72,72,74,72.666667
1,female,group C,some college,standard,completed,69,90,88,82.333333
2,female,group B,master's degree,standard,none,90,95,93,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.333333
4,male,group C,some college,standard,none,76,78,75,76.333333
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,94.000000
996,male,group C,high school,free/reduced,none,62,55,55,57.333333
997,female,group C,high school,free/reduced,completed,59,71,65,65.000000
998,female,group D,some college,standard,completed,68,78,77,74.333333
999,female,group D,some college,free/reduced,none,77,86,86,83.000000

In [21]:
df[df['gender'] == 'female'].groupby(['parental level of education'])[['mean score']].mean()

                             mean score
parental level of education
associate's degree            71.123563
bachelor's degree             74.671958
high school                   64.748227
master's degree               73.648148
some college                  71.002825
some high school              65.564103

In [22]:
df[df['gender'] == 'female'].groupby(['parental level of education'])[['math score', 'reading score', 'writing score']].mean()

                             math score  reading score  writing score
parental level of education
associate's degree            65.250000      74.120690      74.000000
bachelor's degree             68.349206      77.285714      78.380952
high school                   59.351064      68.202128      66.691489
master's degree               66.500000      76.805556      77.638889
some college                  65.406780      73.550847      74.050847
some high school              59.296703      69.109890      68.285714

In [28]:
df_parent_education = df[df['gender'] == 'female'].groupby(['parental level of education'])[['math score', 'reading score', 'writing score']].mean().agg('max', axis='columns')

In [37]:
df_parent_education

parental level of education
associate's degree    74.120690
bachelor's degree     78.380952
high school           68.202128
master's degree       77.638889
some college          74.050847
some high school      69.109890
dtype: float64

In [40]:
group = df_parent_education[df_parent_education == df_parent_education.max()]
group

parental level of education
bachelor's degree    78.380952
dtype: float64

In [43]:
group.index[0]

"bachelor's degree"

In [48]:
round(df[(df['gender'] == 'male') & (df['parental level of education'] == group.index[0])]['mean score'].mean(), 1)

68.8