In [3]:
import pandas as pd
df = pd.read_csv('students.csv', encoding='utf8')
df

   Lastname Group  Mark
0    Иванов     А     5
1    Петров     А     4
2   Сидоров     А     3
3  Кузнецов     Б     5
4     Попов     Б     4
5   Смирнов     Б     4

In [2]:
df[['Group', 'Mark']].groupby(['Group']).mean()

           Mark
Group
А      4.000000
Б      4.333333