In [51]:
import pandas as pd

df = pd.read_csv('dataset_345422_14.txt', parse_dates=[0])
df = df.dropna(axis=1)
df

,Date,Berri 1,Côte-Sainte-Catherine,Maisonneuve 1,Maisonneuve 2,du Parc,Pierre-Dupuy,Rachel1
0,2012-08-07,4756,1497,2407,4495,2089,4386,5535
1,2012-03-17,681,287,422,872,468,334,1008
2,2012-05-22,2315,938,1847,2599,1610,251,2069
3,2012-06-20,5713,2402,3524,6848,3510,2363,4852
4,2012-02-28,195,0,158,350,168,9,3
...,...,...,...,...,...,...,...,...
95,2012-10-28,1310,697,910,1776,955,387,1876
96,2012-09-10,4787,2210,3026,5138,3418,927,4078
97,2012-09-03,371,8,279,575,268,8,38
98,2012-01-04,662,341,442,824,471,168,1086
99,2012-07-24,5243,2318,3465,6721,3317,2170,4694

In [52]:
import datetime

df['Weekday'] = df['Date'].map(datetime.datetime.weekday)
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
days_dict = {i: val for i, val in enumerate(days)}
df['Weekday'] = df['Weekday'].map(days_dict)
df

,Date,Berri 1,Côte-Sainte-Catherine,Maisonneuve 1,Maisonneuve 2,du Parc,Pierre-Dupuy,Rachel1,Weekday
0,2012-08-07,4756,1497,2407,4495,2089,4386,5535,Tuesday
1,2012-03-17,681,287,422,872,468,334,1008,Saturday
2,2012-05-22,2315,938,1847,2599,1610,251,2069,Tuesday
3,2012-06-20,5713,2402,3524,6848,3510,2363,4852,Wednesday
4,2012-02-28,195,0,158,350,168,9,3,Tuesday
...,...,...,...,...,...,...,...,...,...
95,2012-10-28,1310,697,910,1776,955,387,1876,Sunday
96,2012-09-10,4787,2210,3026,5138,3418,927,4078,Monday
97,2012-09-03,371,8,279,575,268,8,38,Monday
98,2012-01-04,662,341,442,824,471,168,1086,Wednesday
99,2012-07-24,5243,2318,3465,6721,3317,2170,4694,Tuesday

In [53]:
grouped = df.groupby('Weekday').mean()
grouped = grouped.drop('Date', axis=1)
grouped

,Berri 1,Côte-Sainte-Catherine,Maisonneuve 1,Maisonneuve 2,du Parc,Pierre-Dupuy,Rachel1
Weekday,,,,,,,
Friday,2842.687500,1222.812500,1936.875000,3604.812500,1920.375000,829.250000,2687.250000
Monday,2930.235294,1257.176471,1949.588235,3423.176471,1949.117647,963.529412,2796.823529
Saturday,2407.461538,868.538462,1481.000000,2550.000000,1310.692308,1266.153846,2614.384615
Sunday,2970.250000,1161.375000,1706.250000,3087.500000,1722.125000,1507.625000,3050.625000
Thursday,3233.090909,1347.000000,2270.090909,3899.636364,2082.272727,1009.818182,2992.454545
Tuesday,2663.400000,1076.000000,1775.133333,3118.066667,1646.133333,1099.533333,2627.800000
Wednesday,3332.950000,1448.000000,2221.250000,3969.800000,2147.200000,1070.050000,3066.650000

In [54]:
mean_in_day = grouped.mean(axis=1)

In [56]:
mean_in_day.idxmax()

'Wednesday'