In [21]:
import pandas as pd

df = pd.read_csv('dataset_345422_8.txt', sep=';')
df

,IE_XML_ID,IE_NAME,IP_PROP30,IP_PROP31,IP_PROP32,CP_QUANTITY,CR_PRICE_1_USD
0,188,Штаны Полосатый Рейс,green,NaN,XL,100,29.06
1,316,Нижнее белье Интимный Вечер,black,NaN,L,100,17.43
2,244,Штаны Цветочная Поляна,red,NaN,S,100,31.97
3,470,Домашние Тапочки Розовый Рай,pink,37.0,NaN,100,17.43
4,463,Спортивный Костюм Вечерний Спорт,white,NaN,S,100,39.24
...,...,...,...,...,...,...,...
195,236,Штаны Цветочная Поляна,white,NaN,M,100,31.97
196,540,Туфли Ультра Лайн,red,38.0,NaN,100,40.69
197,642,Ремень Грубая Кожа,brown,NaN,XS,100,10.39
198,312,Нижнее белье Интимный Вечер,white,NaN,XS,100,15.98
199,198,Штаны Полосатый Рейс,brown,NaN,S,100,29.06

In [22]:
df['total_price'] = df['CP_QUANTITY'] * df['CR_PRICE_1_USD']

In [23]:
df2 = df[['IP_PROP30', 'IP_PROP32', 'total_price']]
df2

    IP_PROP30 IP_PROP32  total_price
0       green        XL       2906.0
1       black         L       1743.0
2         red         S       3197.0
3        pink       NaN       1743.0
4       white         S       3924.0
..        ...       ...          ...
195     white         M       3197.0
196       red       NaN       4069.0
197     brown        XS       1039.0
198     white        XS       1598.0
199     brown         S       2906.0

[200 rows x 3 columns]

In [24]:
group = df2.groupby(['IP_PROP30', 'IP_PROP32']).sum()
group

                     total_price
IP_PROP30 IP_PROP32
azure     L              3387.00
          M              3387.00
          S              3387.00
black     L             18453.00
          M             19881.00
          S             20212.00
          XL            12323.00
          XS            21084.00
blue      L             10173.00
          M                 0.00
          S              3473.00
          XL            10740.00
          XS             7267.00
brown     L              6735.00
          M              6735.00
          S              5573.00
          XL             6735.00
          XS             5674.00
green     L              6670.00
          M              6640.94
          S              3473.00
          XL             6670.00
          XS             6670.00
orangered M              2761.00
          S              2733.39
          XL             2761.00
          XS             2733.39
pink      L              3736.00
          M              6046.00
          S              2310.00
          XL             3736.00
          XS              567.00
purple    L             11000.94
          M              2906.00
          S              6670.00
          XL             7833.00
          XS             2906.00
red       L              5419.00
          M             11173.87
          S              5419.00
          XL             8035.00
          XS             8035.00
redblue   M              2761.00
          S              2761.00
          XS             2761.00
see       L              2455.00
          M              2455.00
          S              2455.00
          XL             1888.00
          XS             2455.00
white     L             14864.00
          M              9225.00
          S             18061.00
          XL            10941.00
          XS            13004.00

In [25]:
group.loc[('pink', 'XL'),]

total_price    3736.0
Name: (pink, XL), dtype: float64